<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<br>

<h3><b>Pratos</b></h3>

<div class="pratos">
  <% @restaurant.dishes.order(:name).each do |dish| %>
    <hr>
    <h4><b><%= dish.category.description %></b></h4>
    <h4><%= dish.name %></h4>
    <h4> Ingredients:
      <% dish.ingredients.each do |ingredient| %>
        <%= ingredient.description + "."%>
      <% end %>
    </h4>
    <h4>Price: R$<%= dish.price %>0</h4>
    <h4>Time to prepare: <%= postTime_to_prepare dish.time_to_prepare %></h4>
  <% end %>
  <hr>
</div>
